body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.flag {
    width: 100px;
    margin-bottom: 30px;
}

.cities-section {
    padding: 50px 20px;
}

.container-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.city-card {
    background-color: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    width: 400px; /* Make images larger */
    padding: 20px;
    transition: transform 0.3s ease;
}

.city-card:hover {
    transform: scale(1.05);
}

.city-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.videos-section {
  margin-top: 80px;
  padding: 60px 20px;
  background: #111;
  border-top: 2px solid #333;
}

.videos-section h2 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #f8f8f8;
}

.carousel-item video {
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}

.carousel-item video[autoplay] {
  pointer-events: none;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 12px 18px;
  border-radius: 10px;
}

.carousel-caption h3 {
  font-size: 1.6rem;
  color: #fff;
}

footer {
  background: #000;
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 50px;
  border-top: 1px solid #333;
}
