body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cities section {
    padding: 40px;
}

.flag {
    width: 60px;
    margin-bottom: 20px;
}

.container {
     display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

h1{
    font-size: 2em;
    margin-bottom: 10px;

}